<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mid.mypage.mapper.MemberMapper">
    <!-- 아이디로 회원 정보 조회 -->
    <select id="getMember" parameterType="String" resultType="com.mid.mypage.model.MemberVO">
        SELECT 
            mem_no as memNo,
            mem_name as memName,
            mem_email as memEmail,
            mem_id as memId,
            mem_pwd as memPwd,
            mem_addr as memAddr,
            mem_tel as memTel,
            mem_regdate as memRegdate
        FROM MEMBER 
        WHERE mem_id = #{memId}
    </select>
    
    <!-- 회원번호로 회원 정보 조회 -->
    <select id="getMemberByNo" parameterType="String" resultType="com.mid.mypage.model.MemberVO">
        SELECT 
            mem_no as memNo,
            mem_name as memName,
            mem_email as memEmail,
            mem_id as memId,
            mem_pwd as memPwd,
            mem_addr as memAddr,
            mem_tel as memTel,
            mem_regdate as memRegdate
        FROM MEMBER 
        WHERE mem_no = #{memNo}
    </select>
    
    <!-- 아이디 중복 체크 -->
    <select id="checkIdDuplicate" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE mem_id = #{memId}
    </select>
    
    <!-- 회원 정보 수정 -->
    <update id="updateMember" parameterType="com.mid.mypage.model.MemberVO">
        UPDATE MEMBER 
        SET mem_name = #{memName},
            mem_email = #{memEmail},
            mem_pwd = #{memPwd},
            mem_addr = #{memAddr},
            mem_tel = #{memTel}
        WHERE mem_id = #{memId}
    </update>
    
    <!-- 비밀번호 변경 -->
    <update id="updatePassword">
        UPDATE MEMBER 
        SET mem_pwd = #{memPwd} 
        WHERE mem_no = #{memNo}
    </update>
    
    <!-- 회원 정보 추가 -->
    <insert id="insertMember" parameterType="com.mid.mypage.model.MemberVO">
        INSERT INTO MEMBER (
            mem_no, mem_name, mem_email, mem_id, mem_pwd, mem_addr, mem_tel, mem_regdate
        ) VALUES (
            #{memNo}, #{memName}, #{memEmail}, #{memId}, #{memPwd}, #{memAddr}, #{memTel}, SYSDATE
        )
    </insert>
</mapper> 